<div
  style="
    display: flex;
    gap: 2rem;
    height: 200px;
    justify-content: center;
    align-items: center;
  "
>
  <button type="button" (click)="updateTooltip()" [ngxTooltip]="tooltip">
    Hover me!
  </button>
  <button
    type="button"
    (click)="updateTooltip()"
    [ngxTooltip]="tooltip"
    placement="right"
  >
    Hover me!
  </button>
  <button
    type="button"
    (click)="updateTooltip()"
    [ngxTooltip]="tooltip"
    placement="bottom"
  >
    Hover me!
  </button>
  <button
    type="button"
    (click)="updateTooltip()"
    [ngxTooltip]="tooltip"
    placement="left"
  >
    Hover me!
  </button>
</div>
<div style="height: 2000px"></div>
