.cdk-overlay-pane {
  &.top-ngx-tooltip {
    margin-block-end: 0.5rem;

    .ngx-tooltip .arrow {
      inset-block-end: 0;
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }

    .ngx-tooltip .arrow::before {
      border-color: transparent;
      border-style: solid;
      border-top-color: #666;
      border-width: 0.5rem 0.5rem 0;
      content: "";
      inset-block-end: -0.5rem;
      inset-inline-start: 0;
      transform-origin: center top;
    }

    .ngx-tooltip .arrow::after {
      border-color: transparent;
      border-style: solid;
      border-top-color: #f5f5f5;
      border-width: 0.5rem 0.5rem 0;
      content: "";
      inset-block-end: -0.375rem;
      inset-inline-start: 0;
      position: absolute;
      transform-origin: center top;
      z-index: 1;
    }
  }

  &.right-ngx-tooltip {
    margin-inline-start: 1rem;

    .ngx-tooltip .arrow {
      inset-block-start: 50%;
      inset-inline-start: 0;
      transform: translateY(-50%);
    }

    .ngx-tooltip .arrow::before {
      border-color: transparent;
      border-right-color: #666;
      border-style: solid;
      border-width: 0.5rem 0.5rem 0.5rem 0;
      content: "";
      inset-inline-start: -0.5rem;
      transform-origin: center right;
    }

    .ngx-tooltip .arrow::after {
      border-color: transparent;
      border-right-color: #f5f5f5;
      border-style: solid;
      border-width: 0.5rem 0.5rem 0.5rem 0;
      content: "";
      inset-inline-start: -0.375rem;
      position: absolute;
      transform-origin: center right;
      z-index: 1;
    }
  }

  &.left-ngx-tooltip {
    margin-inline-end: 1rem;

    .ngx-tooltip .arrow {
      inset-block-start: 50%;
      inset-inline-end: 0;
      transform: translateY(-50%);
    }

    .ngx-tooltip .arrow::before {
      border-color: transparent;
      border-left-color: #666;
      border-style: solid;
      border-width: 0.5rem 0 0.5rem 0.5rem;
      content: "";
      inset-inline-end: -0.5rem;
      transform-origin: center left;
    }

    .ngx-tooltip .arrow::after {
      border-color: transparent;
      border-left-color: #f5f5f5;
      border-style: solid;
      border-width: 0.5rem 0 0.5rem 0.5rem;
      content: "";
      inset-inline-end: -0.375rem;
      position: absolute;
      transform-origin: center left;
      z-index: 1;
    }
  }

  &.bottom-ngx-tooltip {
    margin-block-start: 0.5rem;

    .ngx-tooltip .arrow {
      inset-block-start: 0;
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }

    .ngx-tooltip .arrow::before {
      border-color: transparent;
      border-bottom-color: #666;
      border-style: solid;
      border-width: 0 0.5rem 0.5rem;
      content: "";
      inset-block-start: -0.5rem;
      inset-inline-start: 0;
      transform-origin: center bottom;
    }

    .ngx-tooltip .arrow::after {
      border-color: transparent;
      border-bottom-color: #f5f5f5;
      border-style: solid;
      border-width: 0 0.5rem 0.5rem;
      content: "";
      inset-block-start: -0.375rem;
      inset-inline-start: 0;
      position: absolute;
      transform-origin: center bottom;
      z-index: 1;
    }
  }
}
